{% extends 'base.html.twig' %}

{% block title %}Zoznam obrázkov{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Obrázky</h2>
        </div>
        <div class="panel-body">
            {% for image in images %}
                <div id="image-{{ image.id }}">
                    {% set count = image.articles|length %}
                    <div>
                        {% if count == 0 %}
                            obrázok nie je priradený k žiadnemu článku
                        {% endif %}
                        <br />
                        <a href="{{ image.url }}" target="_blank"><img src="{{ image.url }}" width="150" height="150" class="img-thumbnail"></a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <br />
                        <div class="p-a-5">
                            <div class="btn btn-md btn-danger delete-image" data-image-id="{{ image.id }}" data-user-id="{{ app.user.id }}">Zmaž</div>
                        </div>
                    {% endif %}
                    <hr />
                </div>
            {% endfor %}
        </div>
    </div>
    {%  if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" charset="utf-8">
            $('.delete-image').on('click', function () {
                $.ajax({
                    url: '{{ path('delete_image') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        imageId: $(this).data('imageId'),
                        userId: $(this).data('userId'),
                    },
                    success: function (data) {
                        if(data['result']){
                            if (typeof data['id'] != 'undefined') {
                                imageId="image-" + data['id'];
                                document.getElementById(imageId).innerHTML = '';
                            }
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
