{% extends 'base.html.twig' %}

{% block title %}Nova lokacia{% endblock %}

{% block pageTitle %}
    <h1>Sprava lokacii</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
