{% extends 'base.html.twig' %}

{% block title %}Lokácie{% endblock %}

{% block pageTitle %}
    <h1>Lokácia: {{ location.name }}</h1>
{% endblock %}

{% set contentIcons = {
    (constant('\\AppBundle\\Location\\LocationContent::MONSTER')): 'bolt',
    (constant('\\AppBundle\\Location\\LocationContent::TREASURE')): 'dollar',
    (constant('\\AppBundle\\Location\\LocationContent::TRAP')): 'bomb',
    (constant('\\AppBundle\\Location\\LocationContent::CITY')): 'university',
    (constant('\\AppBundle\\Location\\LocationContent::VILLAGE')): 'home',
    (constant('\\AppBundle\\Location\\LocationContent::INN')): 'beer',
    (constant('\\AppBundle\\Location\\LocationContent::NPC')): 'user'
} %}

{% block body %}
    <div>
        <p>Typ terénu: {{ terrainNames[location.terrain] }}</p>
        {% if location.content %}
            <p>
                Nachádza sa tu: <span class="fa fa-fw fa-{{ contentIcons[location.content] }}"></span> {{ contentNames[location.content] }}
            </p>
        {% endif %}

        <a href="{{ path('map', {x: location.posX, y: location.posY}) }}" class="btn btn-primary">Zobraz na mape</a>

        <h3>Články o tejto lokácii</h3>

        {% if location.articles|length %}
            <ul>
                {% for article in location.articles %}
                    {% if app.user or article.isPublic %}
                        <li><a href="{{ path('article_detail', {'id': article.id}) }}">{{ article.title }}</a></li>
                    {% else %}
                        <li>{{ article.title }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">Zatiaľ nie sú žiadne články o tejto lokácii</div>
        {% endif %}

    </div>
{% endblock %}
