{% extends 'base.html.twig' %}

{% block title %}Mapa{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Lokacie</h2>
        </div>
        <div class="panel-body">
            {% for location in locations %}
                <div>
                    <a href="{{ path('location_detail', {'id': location.id}) }}">{{ location.name }}</a>
                </div>
            {% endfor %}
            {% if app.user %}
                <a href="{{ path('location_add') }}" class="btn btn-success">Pridaj lokaciu</a>
            {% endif %}
        </div>
    </div>

{% endblock %}