{% extends 'base.html.twig' %}

{% block title %}Mapa{% endblock %}

{% block pageTitle %}
    {% if edit is defined and edit %}
        <h1>Map editor</h1>
    {% else %}
        <h1>Mapa</h1>
    {% endif %}
{% endblock %}

{% set contentIcons = {
    (constant('\\AppBundle\\Location\\LocationContent::MONSTER')): 'bolt',
    (constant('\\AppBundle\\Location\\LocationContent::TREASURE')): 'dollar',
    (constant('\\AppBundle\\Location\\LocationContent::TRAP')): 'bomb',
    (constant('\\AppBundle\\Location\\LocationContent::CITY')): 'university',
    (constant('\\AppBundle\\Location\\LocationContent::VILLAGE')): 'home',
    (constant('\\AppBundle\\Location\\LocationContent::INN')): 'beer',
    (constant('\\AppBundle\\Location\\LocationContent::NPC')): 'user'
} %}

{% block body %}
    {% set maxX = originX + width %}
    {% set maxY = originY + height %}

    <div class="row">
        <div class="col-xs-12">
            <table style="margin: auto">
                <tr>
                    <td>&nbsp;</td>
                    {% for x in range(originX, maxX) %}
                        <td>{{ x }}</td>
                    {% endfor %}
                    <td>&nbsp;</td>
                </tr>
                {% for y in range(originY, maxY) %}
                    <tr>
                        <td>{{ y }}</td>
                        {% for x in range(originX, maxX) %}
                            {% set location = null %}
                            {% set color = 'green' %}

                            {% if locations[x] is defined and locations[x][y] is defined %}
                                {% set location = locations[x][y] %}
                                {% set color = colors[location.terrain] %}
                            {% endif %}

                            <td style="background-color: {{ color }}">
                                <div style="background-color: {{ color }}; width: 20px; height:20px; border: solid 1px #222; color: black" class="location" data-position-x="{{ x }}" data-position-y="{{ y }}">
                                    {% if location %}
                                        {% if location.name != '' %}
                                            <a href="{{ path('location_detail', {id: location.id}) }}" title="{{ location.name }}" style="color: white;">
                                        {% endif %}
                                        {% if location.content != constant('\\AppBundle\\Location\\LocationContent::CLEAN') %}
                                            <span class="fa fa-fw fa-{{ contentIcons[location.content] }}"></span>
                                        {% elseif location.name != '' %}
                                            {# zobrazenie pomenovanej lokacie bez obsahu #}
                                            _
                                        {% endif %}
                                        {% if location.name != '' %}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                        <td>{{ y }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>&nbsp;</td>
                    {% for x in range(originX, maxX) %}
                        <td>{{ x }}</td>
                    {% endfor %}
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5px">
        <div class="col-xs-12 text-center">
            <a href="{{ path(app.request.get('_route'), {x: posX, y: max(0, originY)}) }}"
                {% if originY == 0 %}
                    class="btn btn-default"
                {% else %}
                    class="btn btn-primary"
                {% endif %}
            ><span class="fa fa-fw fa-arrow-up"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{{ path(app.request.get('_route'), {x: max(0, originX), y: posY}) }}"
                {% if originX == 0 %}
                    class="btn btn-default"
                {% else %}
                    class="btn btn-primary"
                {% endif %}
            ><span class="fa fa-fw fa-arrow-left"></span></a>

            <a href="{{ path(app.request.get('_route'), {x: posX, y: min(constant('\\AppBundle\\Location\\Map::WIDTH') - 1 , maxY)}) }}"
                {% if maxY == constant('\\AppBundle\\Location\\Map::WIDTH') - 1 %}
                    class="btn btn-default"
                {% else %}
                    class="btn btn-primary"
                {% endif %}
            ><span class="fa fa-fw fa-arrow-down"></span></a>

            <a href="{{ path(app.request.get('_route'), {x: min(constant('\\AppBundle\\Location\\Map::HEIGHT') - 1 , maxX), y: posY}) }}"
                {% if maxX == constant('\\AppBundle\\Location\\Map::HEIGHT') - 1 %}
                    class="btn btn-default"
                {% else %}
                    class="btn btn-primary"
                {% endif %}
            ><span class="fa fa-fw fa-arrow-right"></span></a>
        </div>
    </div>

    {% if edit is defined and edit %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <form id="locationForm">
                        <div class="col-xs-12 col-md-3">
                            {% for terrainName, terrainType in terrainTypes %}
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="terrain" value="{{ terrainType }}">
                                        <div style="display: inline-block; background-color: {{ colors[terrainType] }}; width: 20px; height:20px; border: solid 1px #222"></div>
                                        <span style="margin-left: 25px;">{{ terrainName }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-md-3">
                            {% for contentName, contentType in contentTypes %}
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="content" value="{{ contentType }}">
                                        {% if contentType != constant('\\AppBundle\\Location\\LocationContent::CLEAN') %}
                                            <span class="fa fa-fw fa-{{ contentIcons[contentType] }}"></span>
                                        {% endif %}
                                        {{ contentName }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h3>Pomenovať lokáciu</h3>

                {{ form_start(formName, {attr: {role: 'form', class: 'form-horizontal'}}) }}
                {{ form_end(formName) }}

                <h3>Zrušiť pomenovanie</h3>
                {{ form_start(formRemoveName, {attr: {role: 'form', class: 'form-horizontal'}}) }}
                {{ form_end(formRemoveName) }}
            </div>
        </div>

        <script type="text/javascript" charset="utf-8">
            $(function () {
                var colors = [],
                    contentIcons = [];

                {% for terrainType in terrainTypes %}
                    colors[{{ terrainType }}] = '{{ colors[terrainType] }}';
                {% endfor %}

                {% for contentType in contentTypes %}
                    {% if contentType != constant('\\AppBundle\\Location\\LocationContent::CLEAN') %}
                        contentIcons[{{ contentType }}] = '{{ contentIcons[contentType] }}';
                    {% endif %}
                {% endfor %}

                $('.location').on('click', function () {
                    var terrain = $('input[name=terrain]:checked', '#locationForm').val(),
                        content = $('input[name=content]:checked', '#locationForm').val();

                    $(this).css({
                        backgroundColor: colors[terrain]
                    });

                    if (parseInt(content, 10) === {{ constant('\\AppBundle\\Location\\LocationContent::CLEAN') }}) {
                        $(this).html('');
                    } else {
                        $(this).html(
                            '<span class="fa fa-fw fa-' + contentIcons[content] + '"></span>'
                        );
                    }

                    if ((terrain !== '') || (content !== '')) {
                        $.ajax({
                            url: '{{ path('update_location') }}',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                x: $(this).data('positionX'),
                                y: $(this).data('positionY'),
                                terrain: terrain,
                                content: content
                            },
                            success: function (data, textStatus, jqXHR) {
                            }
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
