{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if app.user %}
        Už si prihlásený.
    {% else %}
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock fos_user_content %}
