{% extends 'base.html.twig' %}

{% block title %}Zoznam používateľov{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Používatelia</h2>
        </div>
        <div class="panel-body">
            {% for user in users %}
                <div id="user-{{ user.id }}">
                    <div>
                        <span class="fa fa-fw fa-user"></span>{{ user.username }}
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if user.enabled %}
                            <div class="p-a-5">
                                <form id="form-change-user-{{ user.id }}" method="post" action="{{ path('enable_user') }}">
                                    <div class="btn btn-md btn-danger enable-user"onclick="document.getElementById('form-change-user-{{ user.id }}').submit();">Zakáž</div>
                                    <input type="hidden" name="userId" value="{{ user.id }}">
                                    <input type="hidden" name="currentUserId" value="{{ app.user.id }}">
                                    <input type="hidden" name="currentStatus" value="true">
                                </form>
                            </div>
                        {% else %}
                            <div class="p-a-5">
                                <form id="form-change-user-{{ user.id }}" method="post" action="{{ path('enable_user') }}">
                                    <div class="btn btn-md btn-success enable-user" onclick="document.getElementById('form-change-user-{{ user.id }}').submit();">Povoľ</div>
                                    <input type="hidden" name="userId" value="{{ user.id }}">
                                    <input type="hidden" name="currentUserId" value="{{ app.user.id }}">
                                    <input type="hidden" name="currentStatus" value="false">
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                    <hr />
                </div>
            {% endfor %}

        </div>
    </div>
{#
    {%  if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" charset="utf-8">
            $('.enable-user').on('click', function () {
                $.ajax({
                    url: '{{ path('enable_user') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        userId: $(this).data('userId'),
                        currentUserId: $(this).data('currentUserId'),
                        currentStatus: $(this).data('enabled'),
                    },
                    success: function (data) {

                        if(data['result']){
                            if ((typeof data['id'] != 'undefined')&&(typeof data['enabled'] != 'undefined')) {
                                userId="user-" + data['id'];
                                document.getElementById(userId).innerHTML ="";
                            }
                        }
                });
            });
        </script>
    {% endif %}
#}
{% endblock %}
