{% extends 'base.html.twig' %}

{% block title %}Nový článok{% endblock %}

{% block pageStylesheets %}
    <link href="/js/tokenfield/dist/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
    <link href="/js/tokenfield/dist/css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block pageScripts %}
    <script src="/js/tokenfield/dist/bootstrap-tokenfield.min.js"></script>
{% endblock %}

{% block pageTitle %}
    <h1>Nový článok</h1>
{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('.tokenfield').tokenfield({
                autocomplete: {
                    {#source: [{% for tag in allTags %} '{{ tag }}', {% endfor %}],#}
                    source: [
                        {% for tag in allTags %}
                            { value: "{{ tag.id }}", label: "{{ tag.name }}" },
                        {% endfor %}
                    ],
                    delay: 100
                },
                showAutocompleteOnFocus: true
            });
        });
    </script>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
