{% extends 'base.html.twig' %}

{% block title %}Zmazanie článku{% endblock %}

{% block pageTitle %}
    <h2>Zmazanie článku</h2>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-12">
                <div>
                    Práve bol zmazaný článok "{{ article.title }}" pridaný používateľom {{ article.addedBy.username }} v čase {{ article.addedTime|date('d-m-Y H:i') }}.                    
                </div>
            </div>
        </div>
{% endblock %}
