{% extends 'base.html.twig' %}

{% block title %}Detail článku{% endblock %}

{% block pageTitle %}
    <h1>{{ article.title }}</h1>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-12">
                <div>
                    Pridal: {{ article.addedBy.username }} {{ article.addedTime|date('d-m-Y H:i') }}

                    {% if article.tags|length %}
                        <div>Tagy:
                            {% for tag in article.tags %}
                                <a href="{{ path('tag_detail', {'id': tag.id}) }}" class="label label-primary"><span class="fa fa-fw fa-tag"></span> {{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if article.locations|length %}
                        <div>Lokácie:
                            {% for location in article.locations %}
                                <a href="{{ path('location_detail', {id: location.id}) }}" class="label label-success">{{ location.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div>
                        {% if article.isPublic%}
                            Tento článok je verejný.
                        {% else %}
                            Tento článok nie je verejný.
                        {% endif %}
                    </div>

                    <hr />
                </div>

                <div>
                    {% if app.user %}
                        {% if app.user.id == article.addedBy.id %}
                            <div class="p-a-5">
                                <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-md btn-success pull-right">Uprav</a>
                            </div>    
                        {% endif %}         
                        {% if app.user.id == article.addedBy.id or is_granted('ROLE_ADMIN') %}
                            <div class="p-a-5">
                                <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-md btn-danger pull-right">Zmaž</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr />

            <div class="col-md-8">
                <div>
                    {{ parsedown.text(article.text)|raw }}

                    {% if article.images|length %}
                        <div>
                            {% for image in article.images %}
                                <a href="{{ image.url }}" target="_blank"><img src="{{ image.url }}" width="150" height="150" class="img-thumbnail"></a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>Komentáre:</h2>

                    {% if app.user %}
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                        {{ form_end(form) }}
                    {% endif %}
                </div>

                {% if article.comments|length %}
                    <div>
                        {% for comment in article.comments %}
                            <div class="panel panel-default" id="comment-{{ comment.id }}">
                                <div class="panel-heading">
                                    <span class="fa fa-fw fa-user"></span> {{ comment.addedBy.username }}
                                    <span class="pull-right">{{ comment.addedTime|date('d-m-Y H:i') }}</span>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        {{ parsedown.text(comment.text)|raw }}
                                    </div>
                                {% if app.user.id == comment.addedBy.id or is_granted('ROLE_ADMIN') %}
                                    <div class="p-a-5">
                                        <div class="btn btn-md btn-danger pull-right delete-comment" data-comment-id="{{ comment.id }}" data-user-id="{{ app.user.id }}">Zmaž</div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <script type="text/javascript" charset="utf-8">
                        $('.delete-comment').on('click', function () {
                            $.ajax({
                                url: '{{ path('delete_comment') }}',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    commentId: $(this).data('commentId'),
                                    userId: $(this).data('userId'),
                                },
                                success: function (data, textStatus, jqXHR) {
                                    if(data['result']){
                                        if (typeof data['id'] != 'undefined') {
                                            commentId="comment-" + data['id'];
                                            document.getElementById(commentId).innerHTML = '';
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                {% endif %}
            </div>
        </div>
{% endblock %}
