{% extends 'base.html.twig' %}

{% block title %}Úprava článku{% endblock %}

{% block pageStylesheets %}
    <link href="/js/tokenfield/dist/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
    <link href="/js/tokenfield/dist/css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block pageScripts %}
    <script src="/js/tokenfield/dist/bootstrap-tokenfield.min.js"></script>
{% endblock %}

{% block pageTitle %}
    <h1>Úprava článku</h1>
{% endblock %}

{% block _form_images_widget %}
    {% for child in form.children %}
        {{ form_widget(child) }}
        <img src="{{ child.vars.label }}" width="150" height="150">
    {% endfor %}
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <script>
        $(function () {
            $('.tokenfield').tokenfield({
                autocomplete: {
                    {#source: [{% for tag in allTags %} '{{ tag }}', {% endfor %}],#}
                    source: [
                        {% for tag in allTags %}
                            {value: "{{ tag.name }}", label: "{{ tag.name }}"},
                        {% endfor %}
                    ],
                    delay: 100
                },
                showAutocompleteOnFocus: true
            });
        });
    </script>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
