{% extends 'base.html.twig' %}

{% block title %}Zoznam článkov{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Články</h2>
        </div>
        <div class="panel-body">
            {% for article in articles %}
                <div>
                    <h4><a href="{{ path('article_detail', {'id': article.id}) }}">{{ article.title }}</a></h4>
                    {{ article.addedBy}} - {{ article.addedTime|date('d-m-Y H:i') }}
                </div>
            {% endfor %}
            {% if app.user %}
                <div class="panel-body">
                    <a href="{{ path('article_add') }}" class="btn btn-success">Pridaj článok</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
