{% extends 'base.html.twig' %}

{% block title %}Alea iacta est{% endblock %}

{% block pageTitle %}
    <h1>Alea iacta est</h1>
{% endblock %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Najnovšie články</h2>
        </div>
        <div class="panel-body">
            {% for article in articles %}
                <div class="blog-article">
                    <h4><a href="{{ path('article_detail', {'id': article.id}) }}">{{ article.title }}</a></h4>
                    {{ article.addedBy }} - {{ article.addedTime|date('d-m-Y H:i') }}
                </div>
            {% endfor %}
        </div>
        {% if app.user %}
            <div class="panel-heading">
                <h2>Moje najnovšie články</h2>
            </div>
            <div class="panel-body">
                {% for myArticle in myArticles %}
                    <div class="blog-article">
                        <h4><a href="{{ path('article_detail', {'id': myArticle.id}) }}">{{ myArticle.title }}</a></h4>
                        {{ myArticle.addedTime|date('d-m-Y H:i') }}
                    </div>
                {% endfor %}
                    <a href="{{ path('article_add') }}" class="btn btn-success pull-right">Pridaj článok</a>
            </div>
        {% endif %}
    </div>

{% endblock %}