{% extends 'base.html.twig' %}

{% block title %}Detail tagu{% endblock %}

{% block pageTitle %}
    <h1><span class="fa fa-fw fa-tag"></span> {{ tag.name }}</h1>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-12">
                {% if tag.articles|length %}
                    <ul>
                        {% for article in tag.articles %}
                            {% if app.user or article.isPublic %}
                                <li>
                                    <a href="{{ path('article_detail', {'id': article.id}) }}">{{ article.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>

        </div>

{% endblock %}
