{% extends 'base.html.twig' %}

{% block title %}Zoznam tagov{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Tagy</h2>
    </div>
    <div class="panel-body">
        {% for tag in tags %}
            <div id="tag-{{ tag.id }}">
                {% set count = tag.articles|length %}
                <a href="{{ path('tag_detail', {'id': tag.id}) }}">{{ tag.name }}</a> - {{ count }}
                    {% if count == 1 %}
                        položka
                    {% elseif count == 2 or count == 3 %}
                        položky
                    {% else %}
                        položiek
                    {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="p-a-5">
                        <div class="btn btn-md btn-danger delete-tag" data-tag-id="{{ tag.id }}" data-user-id="{{ app.user.id }}">Zmaž</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{%  if is_granted('ROLE_ADMIN') %}
    <script type="text/javascript" charset="utf-8">
        $('.delete-tag').on('click', function () {
            $.ajax({
                url: '{{ path('delete_tag') }}',
                type: 'POST',
                dataType: 'json',
                data: {
                    tagId: $(this).data('tagId'),
                    userId: $(this).data('userId'),
                },
                success: function (data) {
                    if(data['result']){
                        if (typeof data['id'] != 'undefined') {
                            tagId="tag-" + data['id'];
                            document.getElementById(tagId).innerHTML = '';
                        }
                    }
                }
            });
        });
    </script>
{% endif %}
{% endblock %}
