<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Alea iacta est{% endblock %}</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        {% block pageStylesheets %}{% endblock %}

        <script src="/js/jquery-1.12.3.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block pageScripts %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Alea iacta est</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if app.request.get('_route') in ['article_list', 'article_detail'] %}class="active"{% endif %}>
                            <a href="{{ path('article_list') }}"><span class="fa fa-fw fa-file-o"></span>Zoznam článkov</a>
                        </li>
                        <li {% if app.request.get('_route') in ['map'] %}class="active"{% endif %}>
                            <a href="{{ path('map') }}"><span class="fa fa-fw fa-map-o"></span>Mapa</a>
                        </li>
                        {% if app.user %}
                            <li {% if app.request.get('_route') in ['tag_list', 'tag_detail'] %}class="active"{% endif %}>
                                <a href="{{ path('tag_list') }}"><span class="fa fa-fw fa-tags"></span>Zoznam tagov</a>
                            </li>

                            {% if app.user.hasRole('ROLE_ADMIN') %}
                                <li {% if app.request.get('_route') in ['image_list'] %}class="active"{% endif %}>
                                    <a href="{{ path('image_list') }}"><span class="fa fa-fw fa-picture-o"></span>Zoznam obrázkov</a>
                                </li>
                                <li {% if app.request.get('_route') in ['user_list'] %}class="active"{% endif %}>
                                    <a href="{{ path('user_list') }}"><span class="fa fa-fw fa-users"></span>Zoznam používateľov</a>
                                </li>
                                <li {% if app.request.get('_route') in ['map_editor'] %}class="active"{% endif %}>
                                    <a href="{{ path('map_editor') }}"><span class="fa fa-fw fa-map"></span>Map editor</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('homepage') }}"><span class="fa fa-fw fa-user"></span>{{ app.user.username }}</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><span class="fa fa-fw fa-key"></span>Zmena hesla</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-fw fa-sign-out"></span>Odhlásiť</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><span class="fa fa-fw fa-sign-in"></span>Prihlásiť</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}"><span class="fa fa-fw fa-user-plus"></span>Registrovať</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            {% block pageTitle %}
                <h1>Vitajte</h1>
            {% endblock %}

            <div class="container">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            {% set bType = 'info' %}
                            {% if type == 'error' %}
                                {% set bType = 'danger' %}
                            {% elseif type == 'success' %}
                                {% set bType = 'success' %}
                            {% endif %}
                            <div class="alert alert-{{ bType }} alert-dismisable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

            {% block body %}{% endblock %}
        </div><!-- /.container -->

        {% block javascripts %}{% endblock %}
    </body>
</html>
